.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 50px;
}

.max-w-xs.mx-auto.member {
    background: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    box-shadow: 2px 1px 4px 0px rgba(144, 142, 142, 0.75);
    height: 500px;
   
}

.btn-wiki {
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: normal;
    margin-top: 10px;
}

.global-btn {
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.perso.card {
    background: white;
    padding: 17px 30px;
    box-shadow: 0px 0px 17px -3px rgba(0,0,0,0.1), 0px 10px 15px -3px rgba(0,0,0,0.1), 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-top: 70px;
}
.name {
    background: #c71d2f;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
}

.container-fuse {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 700px;
       
    }

.container-fuse .container-global {
    
        background: #ffffff;
        margin: 5px;
        width: 100%;
        height: auto;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        padding: 35px;
    
}